name: Upload Container to Docker Hub

on:
  push:
    tags:
      - v*

jobs:
  build_and_upload:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['linux-armhf', 'linux-arm64', 'linux-i386', 'linux-amd64', 'windows-amd64']
    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build container
      run: docker build ./${{ matrix.version }} --tag dh1tw/remoteaudio-xcompile:${{ matrix.version }}
    - name: Upload to docker hub
      run: docker push dh1tw/remoteaudio-xcompile:${{ matrix.version }}